<%- include('header'); %>
<div class="container">
<h1>edit your profile</h1>
    <form
      action="/profiles/<%=profile._id%>"
      method="POST"
    >

    <h4>name<h4><input type="text" name="name" value="<%=profile.name%>"/>
    <h4>image<h4><input type="text" name="image" value="<%=profile.image%>"/>
    <h4>email<h4><input type="text" name="email" value="<%=profile.email%>" />
      <button>submit !</button>
    </form>

    <a href="/profiles/<%=profile._id%>"> Go Back!!! </a>
    </div>
    <%- include('footer'); %>