<%- include('header'); %>
<br>
<div class="container" style="background-color: gainsboro;"  >
<h2>your profile</h2>
<img width="200px" margin="5px" src="<%=profile.image %>" />
    <form
      action="/profiles/<%=profile._id%>"
      method="POST"
    >
    <h4>Name : <h4><input type="text" name="name" value="<%=profile.name%>"/> 
    <h4>Image : <h4><input type="text" name="image" value="<%=profile.image%>"/>
    <h4>Email : <h4><input type="text" name="email" value="<%=profile.email%>" />
      <button>submit !</button>
    </form>

    <a href="/profiles/<%=profile._id%>"> Go Back!!! </a>
  </div>
    <br>
    <%- include('footer'); %>