<%- include('../header'); -%>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h>hello products</h>
      <p>
        this it the time to buy
      </p>
      <p>
        <a class="btn btn-primary btn-large" href="/products/upload"
          >create new</a
        >
      </p>

      <form action="/products" method="GET" class="form-inline">
        <div class="form-group">
          <input
            type="text"
            name="search"
            placeholder="products search.."
            class="form-control"
          />
          <input type="submit" value="Search" class="btn btn-default" />
        </div>
      </form>
    </div>
  </header>

  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <% products.forEach(function(products){%>
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <img
          width="200px"
          margin="1px"
          src="/products/image/<%=products.productimage %>"
        />
        <div class="caption">
          <%=products.name%>
        </div>
        <a href="/products/<%=products._id%>" class="btn btn-primary">detail</a>
      </div>
    </div>

    <%});%>
  </div>
</div>
<%- include('../footer'); -%>
