<%- include('../header'); -%>
<!-- Hero section -->
<section class="hero-section">
  <div class="hero-slider owl-carousel">
    <% products.forEach(function(products){%>
    <div
      class="hs-item set-bg"
      data-setbg="/products/image/<%=products.productimage %>"
    >
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7 text-white">
            <span>New Arrivals</span>
            <h2><%=products.productname %></h2>
            <p>
              <%=products.discription %>
            </p>
            <a href="#" class="site-btn sb-line">DISCOVER</a>
            <a href="#" class="site-btn sb-white">ADD TO CART</a>
          </div>
        </div>
        <div class="offer-card text-white">
          <span>from</span>
          <h2><%=products.discription %></h2>
          <p>SHOP NOW</p>
        </div>
      </div>
    </div>
    <%})%>
  </div>

  <div class="container">
    <div class="slide-num-holder" id="snh-1"></div>
  </div>
</section>
<!-- Hero section end -->

<!-- Features section -->
<section class="features-section">
  <div class="container-fluid">
    <a
      class="btn btn-danger btn-lg btn-block btn-width"
      href="/products/upload"
    >
      <h>UPLOAD YOUR PRODUCTS........</h>
    </a>
  </div>
</section>
<!-- Features section end -->

<!-- letest product section -->
<section class="top-letest-product-section">
  <div class="container">
    <div class="section-title">
      <h2>LATEST PRODUCTS</h2>
    </div>
    <div class="product-slider owl-carousel">
      <% products.forEach(function(products){%>

      <div class="product-item">
        <a href="/products/<%=products._id%>"
          ><i class="flaticon-bag"></i><span>details</span>
          <div class="pi-pic">
            <img
              src="/products/image/<%=products.productimage %>"
              href="/products/<%=products._id%>"
            />
            <div class="pi-links">
              <a href="#" class="add-card"
                ><i class="flaticon-bag"></i><span>ADD TO CART</span></a
              >

              <a href="#" class="wishlist-btn"
                ><i class="flaticon-heart"></i
              ></a>
            </div>
          </div>

          <div class="pi-text">
            <h6>"RS "<%=products.price%></h6>
            <p><%=products.name%></p>
          </div>
        </a>
      </div>

      <%});%>
    </div>
  </div>
</section>
<!-- letest product section end -->

<!-- Product filter section -->
<section class="product-filter-section">
  <div class="container">
    <div class="section-title">
      <h2>BROWSE TOP SELLING PRODUCTS</h2>
    </div>

    <div class="row">
      <% products.forEach(function(products){%>
      <div class="col-lg-3 col-sm-6">
        <div class="product-item">
          <a href="/products/<%=products._id%>"
            ><i class="flaticon-bag"></i><span>details</span>
            <div class="pi-pic">
              <img src="/products/image/<%=products.productimage %>" alt="" />
              <div class="pi-links">
                <a href="#" class="add-card"
                  ><i class="flaticon-bag"></i><span>ADD TO CART</span></a
                >
                <a href="#" class="wishlist-btn"
                  ><i class="flaticon-heart"></i
                ></a>
              </div>
            </div>
            <div class="pi-text">
              <h6><%=products.price %></h6>
              <p><%=products.productname %></p>
            </div>
          </a>
        </div>
      </div>
      <%});%>
    </div>
  </div>
</section>
<!-- Product filter section end -->

<%- include('../footer'); -%>
